name: Deploy to Cloudflare Pages
on: 
  push:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose an environment to deploy to: <dev|staging|prod>"
        required: true
        default: "dev"

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    permissions:
      actions: read
      contents: read
      deployments: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup yarn
        uses: actions/setup-node@v3
        with:
          cache: "yarn"
          node-version: "24"
      - name: Build
        run: |
          yarn install
          yarn build
      - name: Deploy
        uses: andykenward/github-actions-cloudflare-pages@v3.0.0
        with:
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          cloudflare-account-id: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          cloudflare-project-name: rescript-lang-org
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-environment: ${{ vars.CLOUDFLARE_PROJECT_NAME }} ${{ (github.ref == 'refs/heads/master' && '(production)') || '(preview)' }}
          directory: ./out


